<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>福利天下</title>
    <link rel="stylesheet" href="/static/css/jquery.fullPage.css" />
    <link rel="stylesheet" href="/static/css/default.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/jquery.fullPage.min.js"></script>
    <script src="http://cdn.staticfile.org/jquery-easing/1.3/jquery.easing.min.js"></script>
    <style type="text/css">
    	.header .nav ul li a {color: #fff;}
    </style>
    <script type="text/javascript">
      $(function() {
        $('#dowebok').fullpage({
          'navigation': true,
          'anchors': ['fullPage1', 'fullPage2', 'fullPage3','fullPage4', 'fullPage5'],
          afterLoad: function(anchorLink, index){
            if(index == 1){
              $('.section1').find('p').delay(500).animate({
                left: '0'
              }, 1500, 'easeOutExpo');
            }
            if(index == 2){
              $('.section2').find('p').delay(500).animate({
                left: '0'
              }, 1500, 'easeOutExpo');
              $('.advan').addClass('src2animation');
              $('.reslist').addClass('src2animationbox1');
            }
            if(index == 3){
              $('.section3').find('p.service_text').delay(500).animate({
                bottom: '0'
              }, 1500, 'easeOutExpo');
              $('.service_box').addClass('service_boxanima');
            }
            if(index == 4){
              $('.section4').find('p').fadeIn(2000);
              $('.partner_left').addClass('partner_leftanima');
              $('.partner_right').addClass('partner_rightanima');
            }
            if(index == 5){
              $('.slogan').addClass('slogan_anima');
            }
          },
          onLeave: function(index, direction){}
        });
        var oul = $('.resources_box ul');
        var timeId = null;
        var oulHtml = oul.html();
        oul.html(oulHtml+oulHtml);
        var ali = $('.resources_box ul li');
        var aliWidth = ali.eq(0).width() + 4 + 40;
        var aliSize = ali.size();
        console.log(aliWidth)
        var ulWidth = aliWidth*aliSize;
        oul.width(ulWidth);
        
        var speed = -2;
      
        function slider(){
          if(speed<0){
            if(oul.css('left')==-ulWidth/2+'px'){
            oul.css('left',0);
            }
            oul.css('left','+=-2px');
          }
          if(speed>0){
            if(oul.css('left')=='0px'){
            oul.css('left',-ulWidth/2+'px');
            }
            oul.css('left','+='+speed+'px');
          }
          
         }
        
        // setInterval()函数的作用是：每隔一段时间，执行该函数里的代码
         timeId = setInterval(slider,30);
      
        $('.resources_box').mouseover(function(){
          // clearInterval()函数的作用是用来清除定时器
          clearInterval(timeId);
        });
      
        $('.resources_box').mouseout(function(){
          timeId = setInterval(slider,30);
        });
      })
    </script>
  </head>
  <body>
    <div id="dowebok">
      <div class="section section1">
        <div class="initIal">
          <div class="header">
            <div class="logo">
              <img src="/static/images/FLTX.png"/>
            </div>
            <div class="nav">
              <ul>
                <li class="item item_active"><a href="/">首页</a></li>
                <li class="item"><a href="/product/">产品与服务</a></li>
                <li class="item" style="display: none;">案列中心</li>
                <li class="item"><a href="/aboutus/">关于我们</a></li>
                <li class="item"><a href="/cooperate/">商务合作</a></li>
              </ul>
            </div>
          </div>
          <div class="text section1afrom">
            <h3>福利天下</h3>
            <p>一站式效果营销服务平台</p>
          </div>
        </div>
      </div>
      <div class="section section2">
        <div class="platform interVal">
          <h1 class="title">平台核心优势</h1>
          <div class="advan"><img src="/static/images/develop.png"/></div>
          <p class="fons_s">媒体资源</p>
          <p class="fons_m">众多媒体资源总有一种适合你</p>
          <div class="resources">
            <div class="resources_box">
              <ul>
                <li class="reslist">芒果TV</li>
                <li class="reslist">壁合DSP</li>
                <li class="reslist">京东DSP</li>
                <li class="reslist">口袋记账</li>
                <li class="reslist">环球网</li>
                <li class="reslist">花生wifi</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="section section3">
        <div class="service interVal">
          <h1 class="title">平台核心服务</h1>
          <p class="service_text">为客户提供全方位的效果营销服务</p>
          <div class="service_box">
            <div class="service_list service_img"><img src="/static/images/women1.png"/></div>
            <div class="service_list service_item"><h3>媒体投放</h3><p>视频媒体投放、信息流、垂直类媒体投放及DSP等</p><a href="http://91fanshu.com/docs/Q3RpT" target="_blank">查看案例-></a></div>
            <div class="service_list service_img"><img src="/static/images/women.png"/></div>
            <div class="service_list service_item"><h3>效果营销</h3><p>以福利联盟、挖福利等自研产品为主导的CPS、CPT合作</p><a href="http://91fanshu.com/docs/v42Bn" target="_blank">查看案例-></a></div>
            <div class="service_list service_img"><img src="/static/images/women3.png"/></div>
            <div class="service_list service_item"><h3>优化推广</h3><p>ASO， SEM ，SEO等</p><a href="http://91fanshu.com/docs/nsaTi" target="_blank">查看案例-></a></div>
          </div>
        </div>
      </div>
      <div class="section section4">
        <div class="service interVal">
          <div class="partner">
            <div class="partner_left partner_list"><img src="/static/images/goodsleft.png" /></div>
            <div class="partner_text partner_list"><p>优质合作伙伴</p></div>
            <div class="partner_right partner_list"><img src="/static/images/goodsright.png" /></div>
          </div>
        </div>
      </div>
      <div class="section section5">
        <div class="service footer">
          <h1 class="footertitle">和志同道合的人，做了不起的事，服务至上，合作共赢。</h1>
          <p class="slogan"><img src="/static/images/slogan.png"/></p>
          <div class="footer_box">
            <div class="footer_item">
              <div class="footer_list">
                <h4 class="mintitle">首页</h4>
                <ul class="home_ul">
                  <li class="home_list"><a href="/#fullPage2">核心优势</a></li>
                  <li class="home_list"><a href="/#fullPage3">核心服务</a></li>
                  <li class="home_list"><a href="/#fullPage4">合作伙伴</a></li>
                </ul>
              </div>
              <div class="footer_list">
                <h4 class="mintitle">产品与服务</h4>
                <ul class="home_ul">
                  <li class="home_list"><a href="/product.html#service">效果营销</a></li>
                  <li class="home_list"><a href="/product.html#service">品牌宣传</a></li>
                  <li class="home_list"><a href="/product.html#service">推广优化</a></li>
                </ul>
              </div>
              <div class="footer_list">
                <h4 class="mintitle">关于我们</h4>
                <ul class="home_ul">
                  <li class="home_list"><a href="/aboutus.html#fullPage2">发展历程</a></li>
                  <li class="home_list"><a href="/aboutus.html#fullPage3">企业文化</a></li>
                  <li class="home_list"><a href="/aboutus.html#fullPage4">公司动态</a></li>
                  <li class="home_list"><a href="/aboutus.html#fullPage5">加入我们</a></li>
                </ul>
              </div>
              <div class="footer_list" style="display: none;">
                <h4 class="mintitle">案列中心</h4>
                <ul class="home_ul">
                  <li class="home_list">媒体合作案列</li>
                  <li class="home_list">效果优化案列</li>
                </ul>
              </div>
              <div class="weixin">
                <div class="weixinimg">
                  <img src="/static/images/kfwx.png"/>
                </div>
                <p class="weixintitle">客服微信</p>
              </div>
            </div>
            <p class="explain">Copyright © 2016-2026 福利天下 版权所有 备案号：湘ICP备18007376号-4<span>联系电话：0731-85586375</span></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
